<fieldset>
      <legend>{{title}}</legend>
      <p>
        <label for="username">Title</label><br>
        <input id="username" type="text" name="username" value=""/>
      </p>
      <p>
        <label for="password">Password</label><br>
        <input id="password" type="password" name="password" value="" />
      </p>  
  </fieldset>